:root {
    --purple: #5429CC;
    --green: #33CC95;
    --red: #E52E4D;
    --greenLight: #3cd280;
    --white: #FAFAFA;
    --black: #313B43;
    --yellow: #F5C202;
}

body,
html {
    color: var(--white);
    background: var(--green);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    input[type="submit"] {
        cursor: pointer;
        width: 10%;
        background-color: var(--green);
        color: var(--white);
        font-weight: 600;
    }

    button {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 8px 0
    }
}

.container {
    width: 70%;
    text-align: center;
    gap: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--purple);
    padding: 1rem;

    select {
        width: 5%;
        height: 34px;
        font-size: 20px;
        border-radius: 8px;
    }

    select:focus {
        outline-color: var(--green);
    }

    input {
        width: 30%;
        height: 30px;
        font-size: 20px;
        border-radius: 8px;
        border: 0;
        padding: 0 8px;
    }

    input:focus {
        outline-color: var(--green);
    }
}

.container-button {
    padding: 8px 0;
}

.btn-black {
    background: var(--black);
    color: var(--white);
}

.btn-cinza {
    background-color: var(--yellow);
}

.btn-danger {
    background-color: var(--red);
    color: var(--white);

}

.historico {
    background: var(--white);
    color: var(--purple);
    margin: 0 8rem;
    border-radius: 8px;
    padding: 12px;
    min-height: 25vh;
    max-height: 45vh;
    overflow: auto;
}